<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sparky</title>
  <meta name="description" content="Webapp to help finding Sparky, the APISpark's mascot">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="https://apispark.com/static/images/favicon-apispark.gif">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="loading-bar.min.css"/>
  <link rel="stylesheet" href="app.css"/>
</head>
<body ng-app="sparkyClient" ng-controller="MainCtrl" ng-cloak style="padding-bottom: 100px">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Where is Sparky? <img src="sparky.png" style="width:55px"></h1>

      <p class="lead">
        The game's rules are described <a target="_blank" href="http://pages.restlet.com/whereissparky">here</a>.
        Currently, we are in the week <strong>{{ hints.week_nb }}</strong> of the game. The hints are: <strong>{{
        hints.city }}</strong> and <strong>{{ hints.words_nb }} words</strong>.
      </p>
      <h4>Available Pictures
        <small>(Open the week's picture and find Sparky)</small>
      </h4>
      <ul class="nav nav-pills">
        <li class="repeated-item" ng-repeat="pic in pics">
          <a ng-href="{{ pics_url + pic.name }}"
             target="_blank"
             class="small"
            ><i class="fa fa-fw fa-external-link"></i> {{ pic.name }}</a>
        </li>
      </ul>
      <h4>Available Words
        <small>(Build a sentence with the specified number of words, by clicking on them)</small>
      </h4>
      <button type="button"
              class="btn btn-default repeated-item"
              style="margin-right: 5px;margin-top: 2px;margin-bottom: 3px;"
              ng-repeat="word in words"
              ng-click="addWord(word)"
        >
        {{ word.value }}
      </button>
      <h4>The final sentence is ...</h4>
      <ul class="nav nav-pills">
        <li
          class="repeated-item"
          ng-repeat="selected_word in selected_words track by $index"
          >
          <a href>
            <span style="margin-right: 5px;">
              {{ selected_word.value }}
            </span>
            <i class="fa fa-fw fa-times"
               ng-click="removeWordByIdx($index)"></i>
          </a>
        </li>
      </ul>

      <div>
        <h4>Send your answer</h4>

        <form role="form" ng-submit="sendAnswer()">
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input id="userEmail" class="form-control" placeholder="Enter your email"
                   ng-model="answer.email">
          </div>
          <button type="submit"
                  class="btn btn-default"
                  ng-class="{ 'btn-primary': selected_words.length === hints.words_nb }"
                  ng-disabled="isFormDisabled()">Submit
          </button>
        </form>
        <div ng-if="answer_is_done" class="animate-if">
          <p></p>

          <p class="alert alert-success text-center"
             style="font-size: 36px"><strong>Well done!</strong></p>

          <p></p>
        </div>
        <p></p>
        <pre>{{ answer | json }}</pre>
      </div>

      <p class="alert alert-info text-center">
        <strong>Heads up!</strong>
        The game's API is
        <a target="_blank" href="https://apispark.com/apis/2092/versions/1/overview/"
           class="alert-link">here</a>
        and all the details about APISpark are
        <a target="_blank" href="https://apispark.com/"
           class="alert-link">there</a>. Enjoy!

      </p>

    </div>
  </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="loading-bar.min.js"></script>
<script src="app.js"></script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-40453297-18', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
