<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sparky</title>
  <meta name="description" content="Webapp to help finding Sparky, the APISpark's mascot">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.css"/>
</head>
<body ng-app="sparkyClient" ng-controller="MainCtrl" ng-cloak>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span>test00004</span>
      <h1 class="page-header">Where is Sparky? <img src="https://pbs.twimg.com/profile_images/445594352937492480/pX9A1h2E.png" style="width:32px"></h1>
      <p class="lead">
        The game's rules are described <a target="_blank" href="http://pages.restlet.com/whereissparky">here</a>. 
        Currently, we are in the <strong>first</strong> week of the game. The hints are: <strong>Palo Alto</strong> and <strong>8 words</strong>.
      </p>
      <h4>Available Pictures</h4>
      <ul class="repeated-item" ng-repeat="pic in pics">
        <li>{{ pic.name }}
          <a ng-href="{{ pics_url + pic.name }}"
             target="_blank"
             class="small"
          ><i class="fa fa-fw fa-external-link"></i></a>
        </li>
      </ul>
      <h4>Available Words</h4>
      <ul class="repeated-item" ng-repeat="word in words">
        <li>{{ word }}</li>
        <li>{{ word.value }}</li>
      </ul>
    </div>      
  </div>      
</div>      



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="app.js"></script>
</body>
</html>
